<a href="#" data-toggle="dropdown" class="processing dropdown-toggle">Uploads<span class="badge"></span><span class="processing-icon"><i class="fa fa-spinner fa-spin"></i></span></a>
<ul class="dropdown-menu">
  <li>No uploads currently in this session.</li>
</ul>