<span class="status"><i class="status-pending fa fa-spinner fa-spin fa-2x"></i><i class="status-failure fa fa-exclamation-circle fa-2x"></i><i class="status-success fa fa-check-circle fa-2x"></i><i class="status-aborted fa fa-frown-o fa-2x"></i></span><span class="title">{{displayTitle}}</span>
<div class="controls">
  <button type="button" class="btn btn-default abort"><i class="fa fa-times"></i></button>
  <button type="button" class="btn btn-default refresh"><i class="fa fa-refresh"></i></button>
</div>
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-primary"></div>
</div>